<!-- Main -->
<article id="main" ng-controller="adminPanelController">

    <!-- One -->
    <section class="wrapper style4 container">
        <!-- Content -->
        <div class="content">
            <h2>Admin Panel</h2>
            <section>
            </section>
        </div>

    </section>

</article>
