<!-- Main -->
<article id="main">

    <!-- One -->
    <section class="container">
        <!-- Content -->
        <form ng-submit="submit()">
            <div class="content">
                <loading></loading>
                <h2>Forgot Password</h2>
                <label for="email">Please Enter Your Email Address</label>
                <input id="email" type="email" name="email" ng-model="email" required autocomplete="off"/>
                <button type="submit" class="button special2">Submit</button>
            </div>
        </form>

    </section>

</article>
