<!-- Banner Background: https://cdn.theculturetrip.com/wp-content/uploads/2016/08/6995209237_5244628609_k.jpg -->
<!-- Banner -->
<section id="banner">
	<div class="inner">

		<header>
			<h2>Academic Review</h2>
		</header>
		<h3>Find a college for you</h3>
		<div class="12u">
			<input type="text" ng-keydown="pressenter($event)" name="college" ng-model="college" placeholder="College Name or Keywords" />
		</div>
		<footer>
			<ul class="buttons vertical">
				<li><button ng-click="searchCollege()" class="button fit">Search</button></li>
			</ul>
		</footer>

	</div>

</section>