<!-- Main -->
<article id="main">

    <!-- One -->
    <section class="container">
        <!-- Content -->
        <div class="content">
            <h2>Password Reset</h2>
            <label for="new_password1">New Password</label>
            <input id="new_password1" type="password" ng-model=new_password1 class="form-control input-sm"/>
            <label for="new_password2">Confirm Password</label>
            <input id="new_password2" type="password" ng-model=new_password2 class="form-control input-sm"/>
            <button ng-click="submit()" class="button special2">Submit</button>
        </div>

    </section>

</article>
