<!-- Main -->
<article id="main">

    <!-- One -->
    <section class="container">
        <!-- Content -->
        <div class="content">
            <h2>Student Profile</h2>
            <table ng-include src="getTemplate(student)" class ="editstudent table table-striped table-bordered" align="center" valign="left">
            </table>
        </div>

    </section>

</article>