<!-- Main -->
<article id="main">

    <!-- One -->
    <section class="container">
        <!-- Content -->
        <div class="content">
            <h2>Email Verified</h2>
            <a href="#!/signin" ng-click="signin()" class="button special2">Please Click Here To Login</a>
        </div>

    </section>

</article>
