<!DOCTYPE HTML>
{% load static %}

<html ng-app="AcademicReview">
<head>
    <title>Academic Review</title>
    <meta charset="utf-8" />
    <script src="{% static 'build/bundle.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body ng-controller="mainController" class="index">
<div id="page-wrapper">

    <!-- Header -->
    <header id="header" ng-class="{'alt':check.mainpage}">
        <h1 id="logo"><a href="/" ng-click="home()" style="border-top: 5px double white;border-bottom: 5px double white;padding: 8px 0">Academic Review</a></h1>
        <nav id="nav">
            <ul>
                <li ng-if="currentUser" class="current"><a href="#!/studentprofile">Welcome, <span ng-bind="currentUser.first_name"></span></a></li>
                <li class="submenu">
                    <a href="#">Colleges</a>
                    <ul>
                        <li><a href="#!/colleges">All Colleges</a></li>
                        <li><a href="#!/addcollege">Modify College</a></li>
                    </ul>
                </li>
                <li><a href="#!/signin" ng-if="!currentUser" ng-click="signin()" class="button special2">Sign In</a></li>
                <li><a href="#!/signup" ng-if="!currentUser" ng-click="signup()" class="button special">Sign Up</a></li>
                <li><a href="" ng-if="currentUser" ng-click="logout()" class="button special3">Logout</a></li>
            </ul>
        </nav>
    </header>

    <ui-view></ui-view>
    <div ng-view></div>

    <!-- Footer -->
    <footer id="footer">

        <ul class="icons">
            <li><a href="https://github.com/rrongan/unireviewweb-full" class="icon circle fa-github"><span class="label">Github</span></a></li>
        </ul>

        <ul class="copyright">
            <li>&copy; Academic Review</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>

    </footer>

</div>

<script src="{% static 'javascripts/angular/angular-ui-router.js' %}"></script>


<script type="text/ng-template" id="display">
    <td>
        <jk-rating-stars rating="review.rating" read-only="readOnly"></jk-rating-stars>
        <strong style="padding-left:5px"><span ng-bind="review.comment"></span></strong>
        <blockquote style="font-size: 14px; margin-bottom: 0">Reviewed by <span ng-bind="review.reviewerName"></span> on <span ng-bind="review.date"></span></blockquote>
        <table>
            <tr ng-repeat="reply in review.replies" style="border-bottom: 0;">
                <td style="padding: 0 1em 0 1em">
                    <strong style="padding-left:5px"><span ng-bind="reply.comment"></span></strong>
                    <blockquote style="font-size: 14px; margin-bottom: 0">Replied by <span ng-bind="reply.replierName"></span> on <span ng-bind="reply.date"></span></blockquote>
                </td>
                <td ng-show="showDelete(reply.replier_id)">
                    <md-button class="md-fab md-mini" aria-label="Use Android" ng-click="deleteReply($event,reply)">
                        <md-icon class="editicon" md-svg-src="/static/images/icons/delete.svg"></md-icon>
                    </md-button>
                </td>
            </tr>
        </table>
        <md-button ng-show="currentUser" ng-click="review.showreply()" class="md-raised md-primary">Reply</md-button>
        <md-input-container class="md-block" ng-show="review.showreplycheck">
            <label>Reply</label>
            <textarea ng-model="review.replytxt" aria-label="textarea" md-maxlength="3000" md-select-on-focus required></textarea>
            <md-button ng-click="addReply(review.id, review.replytxt)" class="md-raised">Submit</md-button>
            <strong ng-show="profane2">Profane words detected! Please change the words being used before submit</strong>
        </md-input-container>
    </td>
    <td ng-show="showEditDelete(review.reviewer_id)">
        <md-button class="md-fab md-primary" aria-label="Use Android" ng-click="editReview(review)">
            <md-icon class="editicon" md-svg-src="/static/images/icons/edit.svg"></md-icon>
        </md-button>
        <md-button class="md-fab md-warn" aria-label="Use Android" ng-click="deleteReview($event,review)">
            <md-icon class="editicon" md-svg-src="/static/images/icons/delete.svg"></md-icon>
        </md-button>
    </td>
</script>

<script type="text/ng-template" id="edit">
    <td>
        <jk-rating-stars rating="review.rating"></jk-rating-stars>
        <input type="text" ng-model=review.comment class="form-control input-sm"/>
    </td>
    <td ng-show="showEditDelete(review.reviewer_id)">
        <md-button class="md-fab md-primary" aria-label="Use Android" ng-click="updateReview(review)">
            <md-icon class="editicon" md-svg-src="/static/images/icons/save.svg"></md-icon>
        </md-button>
        <md-button class="md-fab md-warn" aria-label="Use Android" ng-click="reset()">
            <md-icon class="editicon" md-svg-src="/static/images/icons/cancel.svg"></md-icon>
        </md-button>
    </td>
</script>

<script type="text/ng-template" id="displaycollege">
    <td>
        <h1 style="padding-left:5px"><span ng-bind="college.name"></span></h1>
        <p style="padding-left:5px"><span ng-bind="college.contact_number"></span></p>
        <p style="padding-left:5px"><span ng-bind="college.email"></span></p>
        <p style="padding-left:5px"><span ng-bind="college.address"></span></p>
    </td>
    <td ng-show="showEditDelete()">
        <md-button class="md-fab md-primary" aria-label="Use Android" ng-click="editCollege(college)">
            <md-icon class="editicon" md-svg-src="/static/images/icons/edit.svg"></md-icon>
        </md-button>
        <md-button class="md-fab md-warn" aria-label="Use Android" ng-click="deleteCollege($event,college)">
            <md-icon class="editicon" md-svg-src="/static/images/icons/delete.svg"></md-icon>
        </md-button>
    </td>
</script>

<script type="text/ng-template" id="editcollege">
    <td>
        <label for="name">Name</label>
        <input id="name" type="text" ng-model=college.name class="form-control input-sm"/>
        <label for="contactno">Contact Number</label>
        <input id="contactno" type="text" ng-model=college.contact_number class="form-control input-sm"/>
        <label for="email">Email</label>
        <input id="email" type="text" ng-model=college.email class="form-control input-sm"/>
        <label for="address">Address</label>
        <input id="address" type="text" ng-model=college.address class="form-control input-sm"/>
    </td>
    <td ng-show="showEditDelete()">
        <md-button class="md-fab md-primary" aria-label="Use Android" ng-click="updateCollege(college)">
            <md-icon class="editicon" md-svg-src="/static/images/icons/save.svg"></md-icon>
        </md-button>
        <md-button class="md-fab md-warn" aria-label="Use Android" ng-click="reset()">
            <md-icon class="editicon" md-svg-src="/static/images/icons/cancel.svg"></md-icon>
        </md-button>
    </td>
</script>

<script type="text/ng-template" id="displaystudent">
    <tr>
        <td>
            <p>First Name: <span ng-bind="student.first_name"></span></p>
            <p>Last Name: <span ng-bind="student.last_name"></span></p>
            <p>Email: <span ng-bind="student.email"></span></p>
            <p>Username: <span ng-bind="student.username"></span></p>
            <p>Date of Birth: <span ng-bind="student.dob"></span></p>
            <p>Gender: <span ng-bind="student.gender"></span></p>
            <p>Address: <span ng-bind="student.address"></span></p>
        </td>
        <td ng-show="showEditDelete()">
            <md-button class="md-fab md-primary" aria-label="Use Android" ng-click="editStudent(student)">
                <md-icon class="editicon" md-svg-src="/static/images/icons/edit.svg"></md-icon>
            </md-button>
            <md-button class="md-fab md-warn" aria-label="Use Android" ng-click="deleteStudent($event,student)">
                <md-icon class="editicon" md-svg-src="/static/images/icons/delete.svg"></md-icon>
            </md-button>
        </td>
    </tr>
</script>

<script type="text/ng-template" id="editstudent">
    <tr>
        <td>
            <label for="first_name">First Name</label>
            <input id="first_name" type="text" ng-model=student.first_name class="form-control input-sm"/>
            <label for="last_name">Last Name</label>
            <input id="last_name" type="text" ng-model=student.last_name class="form-control input-sm"/>
            <label for="email">Email</label>
            <input id="email" type="text" ng-model=student.email class="form-control input-sm"/>
            <label for="dob">Date of Birth</label><br>
            <md-datepicker id="dob" md-current-view="year" ng-model="student.dob" md-placeholder="Enter date"></md-datepicker><br>
            <label for="gender">Gender</label><br>
            <md-select id="gender" ng-model="student.gender">
                <md-option ng-repeat="gender in genderopt" ng-value=gender><span ng-bind="gender"></span></md-option>
            </md-select>
            <label for="address">Address</label>
            <textarea id="address" ng-model=student.address></textarea>

            <h2>Edit Password</h2>
            <label for="oldpassword">Current Password</label>
            <input id="oldpassword" type="password" ng-model=student.oldpassword class="form-control input-sm"/>
            <label for="newpassword">New Password</label>
            <input id="newpassword" type="password" ng-model=student.newpassword class="form-control input-sm"/>
            <label for="reenterpassword">Confirm Password</label>
            <input id="reenterpassword" type="password" ng-model=student.reenterpassword class="form-control input-sm"/>
        </td>
    </tr>
    <tr>
        <td ng-show="showEditDelete()">
            <md-button class="md-fab md-primary" aria-label="Use Android" ng-click="updateStudent(student)">
                <md-icon class="editicon" md-svg-src="/static/images/icons/save.svg"></md-icon>
            </md-button>
            <md-button class="md-fab md-warn" aria-label="Use Android" ng-click="reset()">
                <md-icon class="editicon" md-svg-src="/static/images/icons/cancel.svg"></md-icon>
            </md-button>
        </td>
    </tr>
</script>

</body>
</html>
